@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, 
body, nav {
  font-family: 'Sora', sans-serif;
  font-weight:700;
}
.about-me{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  // text-align: center; /* Center text inside the container */
  padding: 2rem; /* Add padding for spacing */
  padding-top: 150px;
  
}
.bio-text {
  margin-top: 1rem; /* Add space above each paragraph */
  margin-bottom: 1rem; /* Add space below each paragraph */
}

p {
  font-family: 'Sora', sans-serif;
  font-weight: 350;
  margin-top: 1rem; /* Add space above each paragraph */
  margin-bottom: 1rem; /* Add space below each paragraph */
}
.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px
}

a {
  color: inherit;
  text-decoration: none;
}

.icons {
  padding-right: 30px; 
}
nav {
  position:fixed;
  background: #9E7BB5;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  padding-right: 60px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: black;;
}

nav a:hover {
  color: #FF7900;
  border-bottom: 2px solid #FF7900;; /* Use the secondary color directly */
}

nav ul{
  display: flex;
  padding-right: 50px;
  list-style-type: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  list-style-type: none;
  
  padding-right: 50px;
  display: flex;

  transition: 0.3s ease; /* Use the transition directly */
}

body {
  margin: 0;
  padding-top: 5px; /* Adjust this value based on header height */
}

.bio-text {
  width: 25rem;
  border-radius: 6px;
}

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 100%;
  height: 215px;
}

.projects-container {
  display: grid;
  justify-content: center;
  align-items: center;
 
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-container:hover {
  color:white;
  background-color: #743089
}
.project-container p {
  padding: 0.4rem;
}

.project-link {
  color: black;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition for color change */
}
.project-link:hover {
  color:white;
}
.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}
