@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, 
body, nav {
  font-family: 'Sora', sans-serif;
  font-weight:700;
}

p {
  font-family: 'Sora', sans-serif;
  font-weight: 200;
}
.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5pxpx;
}
/* Navbar */
// header {
//   background: white;
//   color: black;
//   padding: 50, 0;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1;
// }
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: black;;
}

nav a:hover {
  color: #FF7900;
  border-bottom: 2px solid #FF7900;; /* Use the secondary color directly */
}

nav ul{
  display: flex;
  gap: 1.9rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  gap: 1.9rem;
  transition: 0.3s ease; /* Use the transition directly */
}

body {
  margin: 0;
  padding-top: 5px; /* Adjust this value based on header height */
}

.bio-text {
  width: 25rem;
  border-radius: 6px;
}

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 100%;
  height: 215px;
}

.projects-container {
  display: grid;
  justify-content: center;
  align-items: center;
 
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-container:hover {
  color:white;
  background-color: blue;
}
.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}
